<html>
  <header>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <title>Escuela - Dashboard del usuario</title>
  </header>
  <body>
    <div id="dashboardBody" class="pepe">
      <div>
        <span
          >Bienvenido <span id="firstName" class="firstNameBienvenida"></span> a
          tu dashboard!!</span
        >
        <span><a href="../login.html">Log out</a></span>
      </div>
      <div>Hasta dónde querés llegar hoy!!!</div>
    </div>

    <script src="../scripts/dashboard.js"></script>
  </body>
</html>
